.headliner {
    display: flex;
    align-items: center;
}
.thumbnailImg {
    border-radius: 12px;
} 
.info {
    display: flex;
    align-items:center;
    
}

.wrapper {
    min-width: 75px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

