.searchBlock{
    position: relative;
    max-width: 380px;
    width: 100%;
    margin-left: 62px;
}
.search{
    
    width: 380px;
    height: 48px;
    padding-left: 48px;
    border: none;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    border: radius 12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
}
.btnSearch{
    position: absolute;
    top: 13px;
    left: 15px;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background-color:transparent;
}
.btnSearch::before{
    content:'';
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url('../../images/search-block/search-icon.svg');
}