.app {
    display: grid;
    grid-template-columns: 304px 1fr;
    grid-template-rows: 108px 1fr;
    height: 100vh;
    background-color: #f2f2f2;
    grid-template-areas:
        "s h"
        "s c";
}

.header {
    grid-area: h;
}

.sidebar {
    grid-area: s;
    background-color: #f8f8f8;
}

.content {
    grid-area: c;
    padding: 32px;
}

.blockHeadliner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    max-width: 1072px;
}
.featuredNews{
}
.blockNews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    max-width: 1072px;
}

